{% extends "base_generic.html" %}

{% block title%}<title>ComPutin - Inicio de sesión </title>{% endblock %}

{% block content %}


{% if user.is_authenticated %}
    <div class="container" style="background-color: whitesmoke;">
        <hr><hr>
        <div class="row">
            <div class="col-sm-12" style="text-aling:left;">
                <table class="table">
                  <thead class="thead-dark">
                    <tr>
                        <th scope="col"></th>
                        <th scope="col">Mis datos</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                        <th scope="row">Usuario</th>
                        <td>{{user.username}}</td>
                    </tr>
                    <tr>
                        <th scope="row">Email</th>
                        <td>{{user.email}}</td>
                    </tr>
                    <tr>
                      <th scope="row">Contraseña</th>
                        <td><a class="btn btn-primary"href="{% url 'password_reset' %}" style="color: white;">Cambiar mi contraseña</a></td>
                    </tr>
                    <tr>
                        <th scope="row">Nombre</th>
                        <td>{{user.first_name}}</td>
                    </tr>
                    <tr>
                        <th scope="row">Apellido</th>
                        <td>{{user.last_name}}</td>
                    </tr>

                  </tbody>
                </table>


            </div>

        </div>
        <hr><hr>
    </div>





{% else %}
    <form method="POST" action="{% url 'login' %}">
        {% csrf_token %}
        <div class="container">
            <div class="row">
                <div class="col-sm" style="background-color: ghostwhite;border-radius: 2px;">
                    <div class="container-fluid p-1 my-1 text-black" style="background-color: transparent; border-radius: 20px; text-align:left;">
                        <div>
                            <h2>Iniciar Sesión</h2>
                            <hr>
                            <br>
                            <div class="input-group mb-3">
                                  <div class="input-group-prepend">
                                    <span class="input-group-text">Usuario: </span>
                                  </div>
                                  <input type="text" class="form-control" placeholder="Ingrese un nombre para su usuario"   {{ form.username }}
                            </div>

                            <div class="input-group mb-3">
                                  <div class="input-group-prepend">
                                    <span class="input-group-text">Contraseña: </span>
                                  </div>
                                  <input type="password" class="form-control" placeholder="Ingrese su contraseña"   {{ form.password }}
                            </div>
                        </div>  <br>
                        {% if form.errors %}
                        <p style="color: red;"> Usuario o contraseña incorrecta, Intenta nuevamente</p>
                        {% endif %}
                        <div class="container-fluid d-flex justify-content-center" >
                            <button onclick="ingresarBoton()" class="btn btn-primary text-nowrap" type="submit">
                            Ingresar
                            <span id="demo2" class="spinner-border spinner-border-sm mr-2" style="display: none;float:left;margin-top:4%"></span>
                            </button>
                        </div>



                        <input type="hidden" name="Siguiente" value="{{ next }}"> <hr>
                        <p class="container-fluid d-flex justify-content-center"><a href="{% url 'password_reset' %}">Olvidé mi contraseña</a></p>
                        <hr>
                        <div class="container-fluid d-flex justify-content-center" >
                            <h5>Iniciar con redes sociales</h5><br>
                        </div>

                        <div class="container-fluid d-flex justify-content-center" >
                            <a href="{% url 'social:begin' 'facebook' %}"><i class="fab fa-facebook-square " style="font-size: 50px;"></i></a>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </form>
{% endif %}




{% endblock %}