{% extends "base_generic.html" %}

{% block content %}


    <div class="container" style="background-color: whitesmoke;">
        <hr><hr>
        <h2><u>Cambio de contraseña</u></h2>
        <hr>
        {% if validlink %}
        <form action="" method="post">
            <div style="display:none">
                <input type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken">
            </div>
            <div>
                <div>
                    
                    <h4>Ingrese una nueva contraseña</h4>
                    <p style="color: red;">{{ form.new_password1.errors }}</p>                        
                    {{ form.new_password1 }}
                </div>
                <br>
                <div>
                    <h4>Confirme la nueva contraseña</h4>
                    <p style="color: red;"></p>{{ form.new_password2.errors }}</p>                      
                    {{ form.new_password2 }}
                </div>
                <div>
                    <hr>
                    <input class="btn btn-secondary"type="submit" value="Change my password" />
                </div>
            </div>
        </form>
        {% else %}
        <h1 style="color: red;">Error al cambiar la contraseña</h1>
        <p style="color: red;">La contraseña ya ha sido utilizada anteriormente, intente con una diferente</p>
        {% endif %} 
        <hr>
        <hr>
    </div>

{% endblock %}