{% extends "base_generic.html" %}

{% load carrito_tags %}

{%block content %}
<section>
    <!--Carrusel-->

<div class="container">
    <div class="row">
        <div class="col-sm" style="background-color: ghostwhite;border-radius: 2px;">
            <div class="container-fluid p-1 my-1 text-black" style="background-color: transparent; border-radius: 20px; text-align:left;">
                <div id="carousel1" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                            <li data-target="#carousel1" data-slide-to="0" class="active"></li>
                            <li data-target="#carousel1" data-slide-to="1"></li>
                            <li data-target="#carousel1" data-slide-to="2"></li>
                    </ol>
                    <!-- diapositivas -->
                    <div class="carousel-inner" style="border-radius:10px">
                        <div class="carousel-item active">
                            {% load static %}
                            <img class="d-block w-100" src="{% static 'img/AMD-ryzen-logo.png' %}" alt=""></a>
                        </div>
                        <div class="carousel-item">
                            {% load static %}
                            <img class="d-block w-100" src="{% static 'img/msi.png' %}" alt="">
                        </div>
                        <div class="carousel-item">
                            {% load static %}
                            <img class="d-block w-100" src="{% static 'img/cougar.png' %}" alt="">
                        </div>
                    </div>

                    <!-- botones de desplazamiento a izquierda y derecha -->
                    <a class="carousel-control-prev" href="#carousel1" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carousel1" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>

                <div class="container-fluid p-1 my-1 text-black" style="background-color: transparent; border-radius: 20px; text-align:left;">

                    <button class="tablink" onclick="openPage('DESTACADO', this, 'black')" id="defaultOpen">DESTACADO</button>
                    <button class="tablink" onclick="openPage('OFERTAS', this, 'black')" >OFERTAS</button>
                    <button class="tablink" onclick="openPage('POPULARES', this, 'black')" >POPULARES</button>

                    <div id="DESTACADO" class="tabcontent">
                        <div class="row">
                            {% for producto in DestacadoProd %}
                            <div class="col-md">
                                <div class="card text-center border-secondary bg-light">
                                    <div class="card-body">
                                        <a href="{{ producto.get_absolute_url }}"><p class="card-title">{{ producto.NombreProd }}</p></a>
                                        <a href="{{ producto.get_absolute_url }}"><img class="imagendecard" src="{{ producto.imageProd.url}}" alt="producto"></a>
                                        <div class="card-footer bg-light" >
                                            <div>
                                                <div class="alert alert-primary">
                                                    ${{ producto.PrecioProd }}
                                                </div>
                                                {% if producto.StockProd == 0 %}
                                                    <a href="#" class="btn btn-danger" ><i class="fas fa-exclamation-triangle" style="margin: 0%;"></i></a>
                                                {% else %}
                                                    <a href="{% url 'carrito:agregar_producto' producto.idProd %}" class="btn btn-primary" ><i class="fas fa-cart-plus" style="margin: 0%;"></i></a>
                                                {% endif %}
                                                <a href="{{ producto.get_absolute_url }}" class="btn btn-success" ><i class="far fa-eye"></i></a>
                                            </div>


                                        </div>
                                    </div>
                                </div>
                            </div>{% endfor %}

                        </div>
                    </div>

                    <div id="OFERTAS" class="tabcontent">
                        <div  class="row">
                            {% for producto in OfertaProd  %}
                            <div class="col-md">
                                <div class="card text-center border-secondary bg-light">
                                    <div class="card-body">
                                        <a href="{{ producto.get_absolute_url }}"><p class="card-title">{{ producto.NombreProd }}</p></a>
                                        <a href="{{ producto.get_absolute_url }}"><img class="imagendecard" src="{{ producto.imageProd.url}}" alt="producto"></a>
                                        </a>
                                        <div class="card-footer bg-light">
                                            <div>
                                                <div class="alert alert-primary">
                                                    ${{ producto.PrecioProd }}
                                                </div>
                                                {% if producto.StockProd == 0 %}
                                                    <a href="#" class="btn btn-danger" ><i class="fas fa-exclamation-triangle" style="margin: 0%;"></i></a>
                                                {% else %}
                                                    <a href="{% url 'carrito:agregar_producto' producto.idProd %}" class="btn btn-primary" ><i class="fas fa-cart-plus" style="margin: 0%;"></i></a>
                                                {% endif %}
                                                <a href="{{ producto.get_absolute_url }}" class="btn btn-success" ><i class="far fa-eye"></i></a>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>{% endfor %}
                        </div>
                    </div>
                    <div id="POPULARES" class="tabcontent">
                        <div class="row">
                            {% for producto in PopularProd   %}
                            <div class="col-md">
                                <div class="card text-center border-secondary bg-light">
                                    <div class="card-body">
                                        <a href="{{ producto.get_absolute_url }}"><p class="card-title">{{ producto.NombreProd }}</p></a>
                                        <a href="{{ producto.get_absolute_url }}"><img class="imagendecard" src="{{ producto.imageProd.url}}" alt="producto"></a>
                                        <div class="card-footer bg-light">
                                            <div>
                                                <div class="alert alert-primary">
                                                    ${{ producto.PrecioProd }}
                                                </div>
                                                {% if producto.StockProd == 0 %}
                                                    <a href="#" class="btn btn-danger" ><i class="fas fa-exclamation-triangle" style="margin: 0%;"></i></a>
                                                {% else %}
                                                    <a href="{% url 'carrito:agregar_producto' producto.idProd %}" class="btn btn-primary" ><i class="fas fa-cart-plus" style="margin: 0%;"></i></a>
                                                {% endif %}
                                                <a href="{{ producto.get_absolute_url }}" class="btn btn-success" ><i class="far fa-eye"></i></a>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

</section>


{% endblock %}
