{% extends "base_generic.html" %}


{% block title%}<title>ComPutin - Nosotros</title>{% endblock %}

{%block content %}

<script type="text/javascript" src="https://platform.linkedin.com/badges/js/profile.js" async defer></script>
<div class="container" style="background-color:ghostwhite;text-align:left">
    <br>
    <img src="../static/img/bannerhardware.jpg" class="img-fluid" style="border-radius: 2%;border-style: ridge;" alt="">
    <br>
    <hr>
    <h4>QUIÉNES SOMOS:</h4>
    <p>Computin es una empresa de computación, fundada en Santiago, en el año 2020. Nacimos como un pequeño emprendimiento familiar, el cual se fue desarrollando y
        creciendo con el tiempo. Al día de hoy Computin ofrece en su sitio web y tienda una experiencia de compra personalizada y segura.
    </p>
    <hr>
    <h4>QUÉ HACEMOS:</h4>
    <p>Importamos, vendemos y distribuimos soluciones de computación tanto para personas, empresas y revendedores. Adicionalmente ofrecemos servicios de soporte
            y desarrollo de proyectos informáticos para pequeñas y grandes empresas.
    </p>
    <hr>
    <h4>CÓMO LO HACEMOS:</h4>
    <p>A través de una constante innovación y desarrollo de tecnologías, estudios de tendencias y una variada oferta de productos y servicios. Nuestra oferta incluye
        una atención personalizada y precios competitivos.
    </p>

    <div class="conteiner">
        <div class="row">
            <div class="nosotros col-sm " style="margin-left:20px; margin-right:20px;">
                <div >
                    {%load static%}
                    <a href="https://www.linkedin.com/in/juan-palma-sepúlveda-a153b2200/"><img src="{% static 'img/JUAN.png' %}"></a>
                </div>
            </div>

            <div class="nosotros col-sm " style="margin-left:20px; margin-right:20px;">
                <div>
                   {%load static%}
                    <a href="https://www.linkedin.com/in/jesusorellanaaguilar/"><img src="{% static 'img/JESUS.png' %}"></a>
                </div>
            </div>

            <div class="nosotros col-sm " style="margin-left:20px; margin-right:20px;">
                <div >
                    {%load static%}
                    <a href="https://www.linkedin.com/in/felipe-muñoz-lópez-b45789200/"><img src="{% static 'img/FELIPE.png' %}"></a>
                </div>
            </div>
        </div>
        <br>
    </div>
</div>



{% endblock %}
