{% extends "base_generic.html" %}

{%block content %}

<div class="container">
    <div class="row producto">
        <div class="col-sm" style="background-color: ghostwhite;border-radius: 2px;">
            <div class="container-fluid p-1 my-1 text-black" style="background-color: transparent; border-radius: 20px; text-align:left;">
                <div class="conteiner" >
                    <img src="../static/img/bannerhardware.jpg" class="img-fluid" style="border-radius: 2%;border-style: ridge;" alt="">
                </div>
                <br>
                <h4>QUIÉNES SOMOS:</h4>
                <p>Computin es una empresa de computación, fundada en Santiago, en el año 2020. Nacimos como un pequeño emprendimiento familiar, el cual se fue desarrollando y 
                    creciendo con el tiempo. Al día de hoy Computin ofrece en su sitio web y tienda una experiencia de compra personalizada y segura.
                </p>
                <hr>
                <h4>QUÉ HACEMOS:</h4>
                <p>Importamos, vendemos y distribuimos soluciones de computación tanto para personas, empresas y revendedores. Adicionalmente ofrecemos servicios de soporte
                        y desarrollo de proyectos informáticos para pequeñas y grandes empresas.
                </p>
                <hr>
                <h4>CÓMO LO HACEMOS:</h4>
                <p>A través de una constante innovación y desarrollo de tecnologías, estudios de tendencias y una variada oferta de productos y servicios. Nuestra oferta incluye 
                    una atención personalizada y precios competitivos.
                </p>
                <div class="conteiner-fluid">
                    <div class="row">
                        <div class="column" style="margin-left: 6%;">
                            <div class="card">
                                <img src="../static/img/programador1.png" class="img-fluid" style="width:312px;height: 312px;">
                                <div class="container">
                                    <h2>Juan Palma</h2>
                                    <p class="title">Programador &amp; Fundador</p>
                                    <p>juanpalma@computin.com</p>
                                    <p><button type="button" class="btn btn-info">Contacto</button></p>
                                </div>
                            </div>
                        </div>
                    
                        <div class="column" style="margin-left: 2%;">
                            <div class="card">
                                <img src="../static/img/programador2.png"  class="img-fluid" style="width:312px;height: 312px;">
                                <div class="container">
                                    <h2>Jesus Orellana</h2>
                                    <p class="title">Programador &amp; Diseñador</p>
                                    <p>jesusorellana@computin.com</p>
                                    <p><button type="button" class="btn btn-info">Contacto</button></p>
                                </div>
                            </div>
                        </div>
                    
                        <div class="column" style="margin-left: 2%;">
                            <div class="card">
                                <img src="../static/img/programador3.png"  class="img-fluid" style="width:312px;height: 312px;">
                                <div class="container">
                                    <h2>Felipe Muñoz</h2>
                                    <p class="title">Programador &amp; Gestor Base de datos</p>
                                    <p>felipemuñoz@computin.com</p>
                                    <p><button type="button" class="btn btn-info">Contacto</button></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>


{% endblock %}
