*
{
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
}

body{
    background-image: url(../img/micro_carbon_@2X.png);
}
/*Estilos del Header*/
header
{
  position: fixed;
  height: 110px;
  width: 100%;
  background-image: url(../img/banner\ 2.png);
  z-index: 3;
}
.menu
{
    width: 100%;
    height: 100%;
}
.logo
{
    width: 22%;
    display: inline-block;
}

.logo img
{
    display: inline-block;
    width: 80px;
    height: 80px;
    z-index: 100;
}
.menu-left
{
    width: 76%;
    height: 100%;
    display: inline-block;
}
.secion
{
   padding-top: 5px;
   width: 100%;
   height: auto;
   text-align: center;
}
.menu-top
{
    height:5px;
    float: right;
}
.menu-top label
{
    position: relative;
    top:0;
    left:-20%;
    width: 100%;
    height:100%;
}
.menu-form
{
    width: 100%
    text-align: center;
    display: inline-block;
}
.menu-form input
{
    display: inline-block;
    width:100%;
}
.menu-form input
{
    display: inline-block;
    width:50%;
}
.menu-carro
{
    width:60px;
    position: relative;
    top:5px;
    right: -80%;
}
.menu-carro .fas
{
    font-size: 110%;
    color: white;
}
#barra
{
   background-image: url(../img/banner\ 2.png);
   width: 170px;
   height: 800px;
   position: relative;
   top: 38px;
   right: -300px;
   float: right;
}
#barra.active
{
    transition-duration: 1s;
    right: -30%;
}
#horizontal li
{
    width: 100%;
    height: 50px;
    padding: 6px;
    list-style: none;
}
.hori-corec
{
    width: 100%;
    height: 1px;
    position: absolute;
}
.opcion
{
    width: 100%;
    height: 50px;
    padding: 6px;
    display: inline-block;
    list-style: none;

}

.opcion-a
{
    width: 100%;
    height: 100%;
    display: block;
    text-decoration-line: none;
    color:white;
    text-align:center ;
}
.fas
{
    margin-right: 10px;

}
.opcion-prod li
{
    width: 100%;
    height: 40px;
    padding: 10px;
    list-style: none;
}
.opcion-prod a
{
    display: block;
    color: white;
    width: 145px;
    height:40px;
    text-decoration-line: none;
    position: relative;
    left: -10px;
    top: -10px;
}
.opcion-prod2 li
{
   height: 50px;
   padding: 5px;
}
.opcion-prod2 a
{
    display: block;
    color: white;
    width: 100%;
    height:50px;
    text-decoration-line: none;
    position: relative;
}
#barra li:hover
{
    background: tomato;
}
#barra a:hover
{
    color: black;
}
.opcion-p
{
    width: 100%;
    height: 40px;
    padding: 10px;
    display: inline-block;
    color:white;
}
.opcion:hover .opcion-prod
{
   display: block;

}

.opcion-prod
{
    display: none;
    width:100%;
    height: 40px;
    background: tomato;
    position: relative;
    top:-144px;
    left:-175px;
    text-align: center;
}
.opcion-p:hover .prod-comp
{
    display: block;
}
.prod-comp
{
    display: none;
    width:119%;
    height: auto;
    background-image: url(../img/banner\ 2.png);
    position: relative;
    top:-50px;
    left:-182px;
    text-align:center ;
}

.opcion-prod2
{
    display: none;
    background:none;
    text-align: center;
    width: 110%;
    height: 200px;
    padding-top: 20px;
    position: relative;
    left: -5px;
}
.opcion:hover .opcion-prod2
{
   display: block;

}
label
{
    position: relative;
    bottom: -70px;
    left: 10px;
    cursor: pointer;
    color: white;
}

/*Estilos del Section*/
#separador_header{
    height:110px ;
}
.modal-body .row
{

    height: 40px;
    margin: 5px;

}

#title_anuncios
{
    background-color:#03a3b8ee;

}

.imagen_publi
{
    background-color: #038fa1ee ;

}
#separador_footer
{
    height: 50px;
    width: 100%;
}


/*Estilo del tab*/

.tablink
{
  background-color: #555;
  color: white;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 17px;
  width: 33.33%;
  transition: 600ms;

}

.tablink:hover
{
  background-color: #777;
}

.tabcontent
{
  color: black;
  display: none;
  padding: 50px 20px;
  height: 100%;

}

#carousel1
{
    z-index: 1;
}

#DESTACADO,#OFERTAS,#POPULARES
{
    background-color: whitesmoke;
    border-radius: 5px;
}
.col-md
{
    margin-top: 10px;
}
.card-title
{
    color: black;
    height: 60px;
    font-size: 60%;
}

.card-text
{
    color: black;
    height: 20px;
    font-size: 70%;
}
.imagendecard
{
    width: 100px;
    height: 100px;
}
section
{
    width: 100%;
    height: auto;
    text-align: center;
}
.modal-content label
{
    color: black;
    display: flex;
    position: relative;
    top: 0;
}
p.from-control
{
    width: 400px;
    height: 50px;
}

.producto
{
    display: inline-block;
}

/*Estilos Formulario Productos*/
.titulo-prin
{
    width: 100%;
    height: auto;
    margin-bottom: 40px;
}

.form-top-left
{
    width: 100%;
    border: solid black 1px;
    padding-top: 30px;
    padding-bottom: 20px;
    margin-bottom: 10px;
    text-align: center;
}
.form-bottom-rigth
{
    width: 100%;
    height: auto;
    border: solid black 1px;
    padding-top: 30px;
    margin-bottom: 10px;
}
.titulos-p
{
    display: block;
    height: 40px;
}
.titulos-p h2
{

    font-size: 15px;
    width: 100%;
}
.titulos-p-cat
{
    display: block;
    height: 40px;
}
.titulos-p-cat h2
{

    font-size: 15px;
    width: 100%;
    color:royalblue;
}
.cajaTexto
{
  display:block;
  height: 30px;
  width: 100%;
}
#id_idProd,#id_NombreProd,#id_MarcaProd,#id_CategoriaProd,
#id_CategoriaEsp,#id_PrecioProd,#id_StockProd
{
    width: 90%;
}
.img-pro
{
    width: 100%;
    height: 180px;
    text-align: center;
    margin-bottom: 10px;
    display: inline-block;
}

.cajai
{
    width: 100%;
}

#id_imageProd
{
    font-size: 7px;
    width: 65%;
}
.des-pro
{
    width: 100%;
    height:200px;
}

#id_DescripciónProd
{
  width: 100%;
  height: 150px;
}
.cajabtn
{
    width: 100%;
    height: 100px;
    margin-bottom: 20px;
    padding: 30px;
    background: royalblue;
}

@media (min-width:200px) and (max-width:500px)
{

    #barra
    {
       width: 70%;
       height: 600px;
       top: 38%;
    }
    #barra.active
    {
        right: -28%;
    }
    .opcion-prod
    {

        width:88%;
        top:-144px;
        left:-90%;
    }
    .menu-carro
    {
        right: -88%;
        position:relative;
        top:-30px;
        left:82%;
    }
}
@media (min-width:500px) and (max-width:600px)
{
    #barra
    {
       width: 60%;
       height: 600px;
       top: 38%;
       right: -360px;
    }
    #barra.active
    {
        right: -20%;
    }
    .opcion-prod
    {

        width:70%;

    }
    .menu-carro
    {
        right: -88%;
        position:relative;
        top:-30px;
        left:82%;
    }



}
@media (min-width: 600px){


    header
    {
      height: 130px;
    }
    #separador_header
    {
      height:140px ;
    }
    .logo
    {
        width: 160px;
        height: 110px;
        text-align: center;
        padding-top:10px;
    }

    .logo img
    {
        width: 110px;
        height:110px;
    }
    .menu-left
    {
        width:80%;
        position:absolute;
    }
    .secion
    {
        padding:10px;
    }
    .menu-carro
    {
        right: -90%;
        position:relative;
        top:-33px;
        left:77%;
    }
    .menu-carro .fas
    {
        font-size: 190%;
    }
    .menu-top
    {
      display: none;
    }
    .menu-form
    {
        width: 90%

    }

    #barra
    {
        background:red;
        width: 100%;
        height: 0;
        position: relative;
        top: -81px;
        left:0;
        transition-duration: 0s;
    }
    #barra.active
    {
        transition-duration: 0s;
    }
    #barra .horizontal
    {
        height: 40%;
        position: relative;
        top: 65px;

    }
    .opcion
    {
        display:inline-block;
        width: 22%;
        height: 50px;
        float:left;
    }
    .hori-corec
    {
        width:700%;
        height:0;
        position: relative;
        top:5px;
        left: -255%;
        display: block;

    }
    .opcion-prod
    {
        width:19%;
        height:40px;
        position: relative;
        top:0;
        float: right;
        margin: 0;
        text-align: center;
    }
    .opcion-prod2
    {
        width: 120%;
        float: left;
        position: relative;
        top: -14px;
        left: -10px;
    }
    .hori-corec2
    {
        width: 200px;
        position: relative;
        left: -35px;
    }
    .opcion-prod2 a
    {
        right: 100%;
        position: relative;
        right: 10px;
    }
    .prod-comp
    {
        width:100%;
        background-image: url(../img/banner\ 2.png);
        position: absolute;
        top: 40px;
        left:0;
        text-align:center ;
    }

    .opcion-p
    {
        background-image: url(../img/banner\ 2.png);
        width: 100%;
        text-align: center;
        font-size: 12px;
    }
    .opcion-p a
    {
        display: block;
        width: 100%;
        text-align: center;
        margin: 0;
        padding: 0;
        position: relative;
        left: -15px;
    }
    section
    {
        width: 100%;
        height: auto;
        text-align: center;
    }
    .secion
    {
        left: 85%;
        top:-90px;
        z-index: 2;
    }
    /*Estilos Formulario Productos*/
    .form-top-left
    {
        height:500px;
    }

    .titulos-p
    {
        display:inline-block;
        width:30%;
        float:left;
        margin-bottom:20px;
    }
    .titulos-p-cat
    {
        float:left;
        display:inline-block;
        width:100%;
        height:auto;
    }
    .cajaTexto
    {
      display:inline-block;
      width:69%;
      height:40px;
      float:right;
      margin-bottom:20px;
    }

    #id_imageProd
    {
        font-size: 14px;
        width: 80%;
    }

    /* estilos de productos*/
    .imagen_prod{
        width: 100%;
        margin-left: 5%;
    }

    .desc_prod
    {
        margin-top: 15%;
        margin-left: 15%;
        margin-right: 15%;
        text-align: justify;
    }
}



@media (min-width:800px) and (max-width:1000px)
{
    .hori-corec
    {
        left: -295%;
    }
    .menu-carro
    {
        right: -90%;
    }
    .opcion-prod
    {
        width:18%;
    }
    .hori-corec2
    {
        width: 100%;
        left: -10px;
        padding-left: 10px;
    }
    .opcion-prod2 a
    {
        position: relative;
        right: 5px;
    }
    .cards_productos{
        max-width: 300px;
    }




}

@media (min-width:1000px) and (max-width:1200px)
{

    .hori-corec
    {
        left: -285%;
    }
    .menu-carro
    {
        right: -89%;
    }
    .opcion-prod
    {
        width:18%;
    }
    .hori-corec2
    {
        left: 5px;

    }
    .opcion-prod2 a
    {
        right: 5px;

    }
    .secion
    {
       left: 84%;
       top:-91px;
    }
    /*Estilos Formulario Productos*/
    .form-top-left
    {
        display:inline-block;
        width: 49%;
    }
    .form-bottom-rigth
    {
        display:inline-block;
        width: 49%;
        float: right;
        height: 500px;
    }
     #id_DescripciónProd
    {

      height: 250px;
    }

}



@media (min-width:1200px)
{
    .hori-corec
    {
        left: -285%;
    }
    .menu-carro
    {
        right: -92%;
    }
    .opcion-prod
    {
        width:18%;
    }
    .hori-corec2
    {
        width: 90%;
        left: 5px;

    }
    .opcion-prod2 a
    {
        right: 5px;

    }

    .secion
    {
       left: 83%;
       top:-91px;
    }

    .opcion-p a
    {

        left: -30px;
    }
    /*Estilos Formulario Productos*/
    .form-top-left
    {
        display:inline-block;
        width: 49%;
    }
    .form-bottom-rigth
    {
        display:inline-block;
        width: 49%;
        float: right;
        height: 500px;
    }
     #id_DescripciónProd
    {
      height: 250px;
    }

}


.fondo_form_compra{
    background-color: whitesmoke;
    margin-left: 20%;
    margin-right: 20%;
    border-radius: 10px;
}



.cards_productos{
    border-radius: 10px;
}


/* estilos de formulario de compra */
.formu
{
    padding-top: 50px;
    width: 80%;
    text-align: center;
}
.comprar
{
    width: 50%;
    display: inline-block;
}
.container-sm label
{
    color: black;
    top: 0;
    float: left;
}




