{% extends "base_generic.html" %}

{% block title%}<title>ComPutin - Administrar productos</title>{% endblock %}

{% block content %}

<div class="container">
  <div class="row">
    <div class="col-sm" style="background-color: ghostwhite;border-radius: 2px;">
      <div class="container-fluid p-1 my-1 text-black" style="background-color: transparent; border-radius: 20px; text-align:left;">
        <strong><h1>Listado de productos</h1></strong>
        <hr>
      </div>

    {% if user.username == "computin" %}
      <div class="conteiner">
        <div class="row cards_productos" style="margin-left: 6%;margin-right: 6%;">
          {% for producto in todoprod %}
          <div class="col-md tamañoCartas" style="max-width: 234px;">
            <div class="card text-center border-secondary bg-light" >
              <div class="card-body">
                  <p class="card-title">{{ producto.NombreProd }}</p>
                  <img class="imagendecard" src="{{ producto.imageProd.url}}" alt="producto">
                  <div class="card-footer bg-light">
                      <div class="shadow-lg w-10 p-1 bg-light rounded">
                          <div class="alert alert-primary">
                              ${{ producto.PrecioProd }}
                          </div>
                          <a href="{% url "eliminarprod" producto.idProd %}" class="btn btn-primary" ><i class="far fa-trash-alt"></i></a>
                          <a href="{% url "modificar" producto.idProd %}" class="btn btn-success" ><i class="far fa-edit"></i></a>

                      </div>

                  </div>
              </div>
          </div>
          </div>
          {% endfor %}
        </div>
      </div>
    {% endif %}

    </div>
  </div>
</div>



{% endblock %}


