{% extends "base_generic.html" %}

{% block title%}<title>ComPutin - Productos</title>{% endblock %}

{% block content %}



<div class="container">
  <div class="row">
    <div class="col-sm" style="background-color: ghostwhite;border-radius: 2px;">
      <div class="container-fluid p-1 my-1 text-black" style="background-color: transparent; border-radius: 20px; text-align:left;">
        <strong><h1>Listado de productos</h1></strong>
        <hr>
      </div>

    {% if producto_list %}
        <div class="container-fluid">
            <div class="row cards_productos" style="margin-left: 6%;margin-right: 6%;max-width: 100%;">

            {% for producto in producto_list %}
                <div class="col-md tamañoCartas" style="max-width: 100%;">
                    <div class="card text-center border-secondary bg-light" >
                        <div class="card-body">
                        <a href="{{ producto.get_absolute_url }}"><p class="card-title">{{ producto.NombreProd }}</p></a>
                        <a href="{{ producto.get_absolute_url }}"><img class="imagendecard" src="{{ producto.imageProd.url}}" alt="producto"></a>
                            <div class="card-footer bg-light">
                                <div>
                                    <div class="alert alert-primary">
                                    ${{ producto.PrecioProd }}
                                    </div>
                                {% if producto.StockProd == 0 %}
                                <a href="#" class="btn btn-danger" ><i class="fas fa-exclamation-triangle" style="margin: 0%;"></i></a>
                                {% else %}
                                <a href="{% url 'carrito:agregar_producto' producto.idProd %}" class="btn btn-primary" ><i class="fas fa-cart-plus" style="margin: 0%;"></i></a>
                                {% endif %}
                                <a href="{{ producto.get_absolute_url }}" class="btn btn-success" ><i class="far fa-eye"></i></a>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            <hr>
        </div>
      {% endif %}

    </div>
  </div>
</div>




{% endblock %}